name: vocabify

services:
  node:
    build:
      context: .
      dockerfile: .docker/Dockerfile.local
    container_name: node
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - ${PWD}:/app
    tty: true
    working_dir: /app
    restart: unless-stopped
    depends_on:
      - db
      - redis
    env_file:
      - .env
    networks:
      - default

  db:
    image: postgres:18-alpine
    container_name: db
    ports:
      - '5432:5432'
    volumes:
      - ${PWD}/.docker/volumes/pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    env_file:
      - .env
    networks:
      - default
    
  redis:
    image: redis:8-alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - ${PWD}/.docker/volumes/redis_data:/data
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    env_file:
      - .env
    networks:
      - default

volumes:
  pg_data:
  redis_data:

networks:
  default:
